main/default/flows/DY_IAnalysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Test D5</description>
        <name>IAnalysis</name>
        <label>IAnalysis</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>pharos__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>issueIds</name>
            <value>
                <elementReference>GetIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Test D3</description>
        <name>Assignment1</name>
        <label>Assignment1</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_issues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_issues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Test D4</description>
        <name>With_ids</name>
        <label>With ids?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>With_Ids1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IAnalysis</targetReference>
            </connector>
            <label>With Ids1</label>
        </rules>
    </decisions>
    <interviewLabel>DY IAnalysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY IAnalysis</label>
    <loops>
        <description>Test D2</description>
        <name>Iterate_issues</name>
        <label>Iterate issues</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Issues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>With_ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Test D1</description>
        <name>Get_Issues</name>
        <label>Get Issues</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_issues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pharos__Analysis_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pharos__Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Issues</targetReference>
        </connector>
        <object>pharos__Issue__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
