main/default/flows/DY_RTF_NEW_TEST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Source:Test_1,587,1410|Target:Subflow_test,803,1146</description>
        <name>h_08d7f6c94199e085c6ace518e0d877f0_PostPreLog</name>
        <label>Log After: Assign Name, Before: Subflow test</label>
        <locationX>1278</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Subflow_test</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Assign Name, Before: Subflow test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Assign Name, Before: Subflow test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_ed19f634df404e4aa4ea777c1688f8c7_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Case_INfo,371,882|Target:Get_Account,479,882</description>
        <name>h_0cb1651eb2cff570a447a8c9aa73f83f_PostPreLog</name>
        <label>Log After: Get Case INfo, Before: Get Account</label>
        <locationX>882</locationX>
        <locationY>700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Case INfo, Before: Get Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Case INfo, Before: Get Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_23dc842c87f5f93c5964bc4e6b01e1c5_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Subflow_test,803,1146|Target:null,0,0</description>
        <name>h_145e3b1c53f37213b0be4b4da95d9903_PostLog</name>
        <label>Log After: Subflow test</label>
        <locationX>1146</locationX>
        <locationY>1900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Subflow test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Subflow test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Subflow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_a8b92d168666e2e4da701ab2a3e06cba_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Start,48,756|Target:Get_Case_INfo,371,882</description>
        <name>h_21dd4f84ba11b2dda2f95b36690ba49a_PostPreLog</name>
        <label>Log After: Start, Before: Get Case INfo</label>
        <locationX>819</locationX>
        <locationY>400</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_INfo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Start, Before: Get Case INfo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Start, Before: Get Case INfo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_22ea40cb75f11cadae0505fd9a83c711_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Update_Case.FAULT,587,882|Target:aSSIGN,695,1146</description>
        <name>h_6fbcb2c7c4ea4c5a231b8313edd32ce1_PostPreLog</name>
        <label>Log After: Update Case, Before: aSSIGN</label>
        <locationX>1014</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>aSSIGN</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Update Case, Before: aSSIGN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Update Case, Before: aSSIGN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>WARNING</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_f4fae191fe40d0d82058469fbce8c5b0_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Account,479,882|Target:Update_Case,587,882</description>
        <name>h_8f9d6cd1c948a6c66355adbb7325c458_PostPreLog</name>
        <label>Log After: Get Account, Before: Update Case</label>
        <locationX>882</locationX>
        <locationY>1000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Account, Before: Update Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Account, Before: Update Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_1e583ccf8d792feb8b814bc4d7580d53_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Account.FAULT,479,882|Target:Test_1,587,1410</description>
        <name>h_ddfe80a2b851ddd409941cd71c8611c7_PostPreLog</name>
        <label>Log After: Get Account, Before: Assign Name</label>
        <locationX>1146</locationX>
        <locationY>1000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Test_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Account, Before: Assign Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Account, Before: Assign Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>WARNING</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_0f53e1a86cb63aa3d9ba06babad4527f_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:aSSIGN,695,1146|Target:Subflow_test,803,1146</description>
        <name>h_fdc70cc9edb819703cfd12e7845e239e_PostPreLog</name>
        <label>Log After: aSSIGN, Before: Subflow test</label>
        <locationX>1146</locationX>
        <locationY>1600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Subflow_test</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: aSSIGN, Before: Subflow test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: aSSIGN, Before: Subflow test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_06835c2a7ed9af9b264b441180419b05_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Update_Case,587,882|Target:null,0,0</description>
        <name>h_feb6f5d92b9c47c6607803fcec8ee0b9_PostLog</name>
        <label>Log After: Update Case</label>
        <locationX>882</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Update Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Update Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>DY_RTF_NEW_TEST-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_cef8f7601d2edf45c17e18bf0786be89_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>aSSIGN</name>
        <label>aSSIGN</label>
        <locationX>1146</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_INfo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEst</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_fdc70cc9edb819703cfd12e7845e239e_PostPreLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_1</name>
        <label>Assign Name</label>
        <locationX>1410</locationX>
        <locationY>1150</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>h_08d7f6c94199e085c6ace518e0d877f0_PostPreLog</targetReference>
        </connector>
    </assignments>
    <interviewLabel>DY RTF NEW TEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY RTF NEW TEST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>882</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_8f9d6cd1c948a6c66355adbb7325c458_PostPreLog</targetReference>
        </connector>
        <faultConnector>
            <targetReference>h_ddfe80a2b851ddd409941cd71c8611c7_PostPreLog</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_INfo</name>
        <label>Get Case INfo</label>
        <locationX>882</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_0cb1651eb2cff570a447a8c9aa73f83f_PostPreLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>882</locationX>
        <locationY>1150</locationY>
        <connector>
            <targetReference>h_feb6f5d92b9c47c6607803fcec8ee0b9_PostLog</targetReference>
        </connector>
        <faultConnector>
            <targetReference>h_6fbcb2c7c4ea4c5a231b8313edd32ce1_PostPreLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>h_21dd4f84ba11b2dda2f95b36690ba49a_PostPreLog</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Subflow_test</name>
        <label>Subflow test</label>
        <locationX>1146</locationX>
        <locationY>1750</locationY>
        <connector>
            <targetReference>h_145e3b1c53f37213b0be4b4da95d9903_PostLog</targetReference>
        </connector>
        <flowName>DY_Subflow_1</flowName>
    </subflows>
    <textTemplates>
        <description>Pharos Flow Template for Log After: aSSIGN, Before: Subflow test</description>
        <name>h_06835c2a7ed9af9b264b441180419b05_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;aSSIGN&lt;br&gt;
&lt;span&gt;Get_Case_INfo.Description Assign TEst&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Get_Case_INfo.Description = {!Get_Case_INfo.Description}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_fdc70cc9edb819703cfd12e7845e239e_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Account, Before: Assign Name</description>
        <name>h_0f53e1a86cb63aa3d9ba06babad4527f_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Account&lt;br&gt;
&lt;span&gt;Find all Account records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_ddfe80a2b851ddd409941cd71c8611c7_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Account, Before: Update Case</description>
        <name>h_1e583ccf8d792feb8b814bc4d7580d53_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Account&lt;br&gt;
&lt;span&gt;Find all Account records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_8f9d6cd1c948a6c66355adbb7325c458_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Start, Before: Get Case INfo</description>
        <name>h_22ea40cb75f11cadae0505fd9a83c711_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;style&gt;
span,a {
 font-size: 16px;}&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;
&lt;span&gt;&lt;img src=&quot;https://a.sfdcstatic.com/shared/images/c360-nav/mobile_logo.png&quot; alt=&quot;Salesforce logo&quot; width=&quot;40px&quot;&gt;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;An Error Occurred with Your &quot;DY RTF NEW TEST&quot; Flow&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;You&apos;ve received this email because an error occurred while your &quot;DY RTF NEW TEST&quot; flow was running. &lt;a &gt;Debug this flow in Flow Builder.&lt;/a&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Error element debug (FlowActionCall).&lt;/span&gt;&lt;br&gt;&lt;span&gt;Debug: end&lt;/span&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;a style=&quot;background-color:#0176D3;border-radius:4px;color:white;padding:.5rem 1rem;text-decoration:none&quot;&gt;Open Flow&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;hr&gt;
&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;Flow Error Details&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow API Name: &lt;/span&gt;DY_RTF_NEW_TEST&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Type: &lt;/span&gt;Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Version: &lt;/span&gt;3&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Status: &lt;/span&gt;Draft&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Org: &lt;/span&gt;{!$Organization.Id} ({!$Organization.Name})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Interview Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview Label: &lt;/span&gt;DY RTF NEW TEST&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview GUID: &lt;/span&gt;{!$Flow.InterviewGuid}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Current User: &lt;/span&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Start time: &lt;/span&gt;{!$Flow.InterviewStartTime}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Duration: &lt;/span&gt;0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;How the Interview Started&lt;/span&gt;&lt;br&gt;
&lt;span&gt;{!$User.FirstName} {!$User.LastName} ({!$User.Id}) started the flow interview.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 63.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Some of this flow&apos;s variables were set when the interview started.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;$Record = Case ({!$Record})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_21dd4f84ba11b2dda2f95b36690ba49a_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Case INfo, Before: Get Account</description>
        <name>h_23dc842c87f5f93c5964bc4e6b01e1c5_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Case INfo&lt;br&gt;
&lt;span&gt;Find all Case records where:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;CreatedDate LessThan $Flow.CurrentDate&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Case_INfo} ({!Get_Case_INfo})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_0cb1651eb2cff570a447a8c9aa73f83f_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Subflow test</description>
        <name>h_a8b92d168666e2e4da701ab2a3e06cba_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SUBFLOW: &lt;/span&gt;Subflow test&lt;br&gt;
&lt;span&gt;Enter flow DY_Subflow_1 version &lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 62&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SUBFLOW: &lt;/span&gt;Subflow test&lt;br&gt;
&lt;span&gt;Exit flow DY_Subflow_1 version &lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 62&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_145e3b1c53f37213b0be4b4da95d9903_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Update Case</description>
        <name>h_cef8f7601d2edf45c17e18bf0786be89_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;UPDATE RECORDS: &lt;/span&gt;Update Case&lt;br&gt;
&lt;span&gt;Find all null records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Update the records&apos; field values.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;OwnerId = null&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Update_Case} ({!Update_Case})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_feb6f5d92b9c47c6607803fcec8ee0b9_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Assign Name, Before: Subflow test</description>
        <name>h_ed19f634df404e4aa4ea777c1688f8c7_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;Assign Name&lt;br&gt;
&lt;span&gt;Get_Account.Name Assign null&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Get_Account.Name = {!Get_Account.Name}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_08d7f6c94199e085c6ace518e0d877f0_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Update Case, Before: aSSIGN</description>
        <name>h_f4fae191fe40d0d82058469fbce8c5b0_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;UPDATE RECORDS: &lt;/span&gt;Update Case&lt;br&gt;
&lt;span&gt;Find all null records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Update the records&apos; field values.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;OwnerId = null&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Update_Case} ({!Update_Case})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_6fbcb2c7c4ea4c5a231b8313edd32ce1_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Pharos Full Stacktrace</description>
        <name>Pharos_Full_Stacktrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
</Flow>
